.about_main
{
    background-color: #e6e6e6 ;

}

.about
{
    max-width: 1000px;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto; 

}
.about_block1-2
{
    display: flex;
    flex-direction: row;
}

.about_photo,.about_info
{
    margin: 10px;
    height: 24em;
    border-radius: 5px;
    background-size: cover;
    transition: all 0.3s ease;
}
.about_block3,.about_block4,.about_block5
{
    margin: 10px;
    height: auto;
    border-radius: 5px;
    background-size: cover;
    transition: all 0.3s ease;
}

.about_photo
{
    background-image: url(https://p1.zoon.ru/preview/hyjv-v8u8m7zX1RtEpOlQg/2400x1500x85/1/3/5/original_5b6d4b63054b8930a96bad31_5b6d4bb8912bc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
}
.about_info
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    background-color: #fff;
    padding: 10px;
}

.about_block3
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    background-color: #fff;
    padding: 10px;
}
.about_block4
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    background-color: #fff;
    padding: 10px;
}
.about_block5
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    background-color: #fff;
    padding: 10px;
}
@media (max-width: 768px) 
{
    .about_block1-2
    {
        display: flex;
        flex-direction: column;
	padding-right: 20px;
    }
    .about_photo
    {
        width: auto;
        background-size: contain;
    }
    .about_info
    {
        width: auto;
        height: auto;
    }
}



