main
{
  background-color: #e6e6e6 ;
}
#gallary {
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0;

}
.img1-2,.img3-4,.img5-6
{
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#gallary img {
  width: 45%;
  margin: auto;
  height: 16em;
  border: solid 1px #999;
  border-radius: 5px;
  background-size: cover;
  transition: all 0.3s ease;
  cursor: pointer;
  }

#fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    object-fit: contain;
    background-size: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 2;
  }

  #fullscreen-image img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }

  @media (max-width: 768px)
  {
    .img1-2,.img3-4,.img5-6
    {
      flex-direction: column;
      margin: 10px;
    }
    #gallary img {
      margin: 10px;
      width: 100%;
    }
    #gallary
    {
      margin: 0px;
    }
  }


  