main
{
	background-color: #e6e6e6 ;
}
.contmain
{
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.condiv1-2
{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	
}
.condiv1, .condiv2
{
	width: 50%;
	height: 500px;
	margin: 20px;
	background-color: #fff;
	border-radius: 5px;
}
.condiv1 img
{
	width: 100%;
	padding: 10px;
}
.condiv1 h2
{
	margin: 10px;
}

.condiv2 .con
{
	margin: 20px;
	height: auto;
	padding-top: 50px;
}

.con h2, .con p
{
	margin: 20px;
	height: auto;
	padding-bottom: 40px;
}

.condiv3
{
	align-items: center;
	width: 100%;
	height: 36em;
	padding: 20px;
}
@media (max-width: 768px)
{
	.condiv1-2
	{
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.condiv1, .condiv2
	{
		width: 80%;
		height: auto;
		margin: 10px;
		background-color: #fff;
		border-radius: 5px;
	}
	.condiv3
	{
		align-items: center;
		width: 100%;
		height: 24em;
		padding: 20px;
	}
	
}